/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.enabled {
    opacity: 1;
}
.disabled {
    opacity: 0.5;
}

.modal-buttons {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider-val {
    margin-left: 0.5rem;
    width: 3.5rem;
    text-align: end;
}